body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
}

#timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #3498db;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#clock {
    font-size: 48px;
    color: #ffffff;
    margin: 10px;
}

#startButton {
    background-color: #27ae60;
    color: #ffffff;
    border: none;
    padding: 10px 34px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#restartButton {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    padding: 10px 34px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#startButton:hover {
    background-color: #218c53;
}

#restartButton:hover {
    background-color: #c0392b;
}


#intervalText {
    font-size: 18px;
    color: #000000; /* Adjust the color for the work interval */
    text-align: center;
    margin-top: 10px;
}